.img-center {
  text-align: center;
}
.img-center img {
  max-width: 100%;
  max-height: 90%;
}
.img-center p {
  font-size: 85%;
  margin-top: 5px;
  font-style: italic;
}
#collection-page {
  width: 60%;
}

.group {
  display: block;
}

.group div {
  float: left;
  margin-top: 4%;
  padding-bottom: 48%;
  background-color: #FFFFFF;
  border: 2px solid black;
  background-size:cover;
  overflow: hidden;
}

.group p {
  margin-left: 15px;
  margin-right: 25px;
  font-size: 18pt;
  border: 2px white;
  text-align: center;
}

.box-right{
  min-width: 48%;
  margin-left: 4%;
}

.box-left{
  min-width: 48%;
}

#alone {
  width: 100%;
  margin-left: none;
}

#alone p{
  width: 100%;
}

#hover-content {
  background: rgba(255,255,255,0.3);
  color: black;
  cursor: pointer;
  display: table;
  position: absolute;
  opacity: 0;
  width: 47.5%;
  margin: 0;
  text-align: justify;
  border: none;
  -webkit-transition: opacity 350ms;
  -moz-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;
  padding: none;
}


#hover-content:hover {
  opacity: 1;
}

#justify-it{
  text-align: justify;
}

#go-right{
  float: right;
}